
  course works!

  {{sushu}}

<input  [(ngModel)] = "name1" (keyup.enter)="onKeyup()"/>  
{{text1}}
  <ul *ngFor = "let bush of bushu">
  <li>{{bush}}</li>
</ul>


<!--<button class = "btn btn-primary" (click) = 'btnclick($event)' [class.active]='isActive'></button>--> 
<finished [isFav]= "text1" (change) = "onfinishclick($event)"></finished>
 
  {{isfinval}}
  <contact-form></contact-form>
  <signup-form1></signup-form1>
  <postcomponent></postcomponent>
  <posts></posts>
<test>
  <div class = "header"> hdgshdg 
    <p>jhdgj</p>
  </div>
</test>
